@font-face {
  font-family: "Lulo";
  src: url("./assets/Lulo One.otf") format("opentype");
}
@font-face {
  font-family: "Lulo Outline";
  src: url("./assets/Lulo Outline.otf");
}
@font-face {
  font-family: "Lulo Bold";
  src: url("./assets/Lulo OneBold.otf");
}
@font-face {
  font-family: "Lulo Outline Bold";
  src: url("./assets/Lulo OutlineBold.otf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Lulo", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}
body h1,
body h2,
body h3,
body h4 {
  margin: 0;
}

header {
  width: 100%;
  height: 85px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
header h1 {
  font-size: 50px;
  font-family: "Lulo Outline Bold";
  white-space: nowrap;
}

button,
input[type=text] {
  border: solid black 2px;
  background-color: rgba(245, 245, 245, 0.7);
  font-family: "Lulo";
  cursor: pointer;
  transition: background-color 150ms ease;
}
button:hover,
input[type=text]:hover {
  background-color: rgba(245, 245, 245, 0.1);
}

/* #region drink-search-container */
#drink-search-container label {
  font-family: "Lulo Bold";
  border-bottom: solid black 2px;
}
#drink-search-container input[type=text] { font-family: "Lulo Bold"; }
/* #endregion */

/* #region drink-letters-category */
#drink-letters-category button {
  border: none;
  font-family: "Lulo Bold";
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  transition: all 350ms ease;
}
#drink-letters-category button:hover { color: gray; }
/* #endregion */

/* #region drink-list */
#drink-list h2 {
  text-align: left;
  padding: 0 10px 5px 0 !important;
  margin: 0 0 10px 0;
  transform: translateX(-20px);
}
#drink-list hr {
  margin: 50px 0;
}
/* #endregion */

/* #region drink-list--drink */
/* !! Do not replace with tailwind inline css */
#drink-list .drink-list--drink {
  height: -moz-fit-content;
  height: fit-content;
  max-height: -moz-min-content;
  max-height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px 0;
}
#drink-list .drink-list--drink h1,
#drink-list .drink-list--drink h2,
#drink-list .drink-list--drink h3 {
  padding: 0 150px 5px 150px;
  font-weight: 300;
}
#drink-list .drink-list--drink h1 {
  transform: translateX(-45px);
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  max-width: 400px;
}
#drink-list .drink-list--drink img {
  width: auto;
  height: 250px;
  aspect-ratio: 1;
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, 0.7);
}
#drink-list .drink-list--drink h3 {
  text-align: center;
  border: solid black 2px;
  border-width: 2px 0 2px 0;
  padding: 5px 0 !important;
  font-size: 25px;
  font-family: "Lulo Bold";
}
#drink-list .drink-list--drink iframe {
  margin-top: 10px;
  width: 600px;
  aspect-ratio: 2;
  border: solid black 2px;
}
#drink-list .drink-list--drink .drink-name {
  border: none;
  margin: 0 25px;
  padding: 0;
  font-family: "Lulo Bold";
}
#drink-list .drink-list--drink .drink-ingredients {
  margin: 5px 0;
  line-height: 30px;
}
#drink-list .drink-list--drink .drink-ingredients h2 {
  font-family: "Lulo Outline Bold";
  border: solid black 2px;
  border-width: 2px 0 2px 0;
  padding: 10px 0 !important;
  font-size: 20px;
}
/* #endregion */

/* #region list-splitter */
#drink-list .list-splitter {
  width: 100%;
  height: 0px;
  margin-bottom: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -9999;
}
#drink-list .list-splitter img {
  transform: scaleY(0.45) translateY(-10px);
  height: 200px;
}
/* #endregion */

/* #region recipe-button */
#drink-list .recipe-button {
  margin: 0 0 10px 0;
  width: 30%;
  padding: 10px 15px;
  font-family: "Lulo";
  z-index: 9999;
  background-color: rgb(245, 245, 245);
  box-shadow: -5px 10px 10px 0 rgba(0, 0, 0, 0.5);
  transition: filter 150ms ease;
}
#drink-list .recipe-button:hover {
  opacity: 1;
  filter: brightness(0.9);
}
/* #endregion */

/* #region recipe modal */
#recipe-modal--container {
  background-color: rgb(240, 240, 240);
  border: solid black 1px;
}
#recipe-modal--container #recipe--ingredients {
  grid-row: 1;
  grid-column: 1;
}
#recipe-modal--container #recipe--about ul li {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  line-height: 30px;
  margin: 0;
}
#recipe-modal--container #recipe--about img {
  width: calc(100% - 150px);
  height: auto;
  aspect-ratio: 1;
  margin: 10px 0;
  border: solid black 1px;
}

#recipe-modal--container h2 {
  background-color: black;
  color: white;
  font-family: "Lulo";
  padding: 5px 25px;
  font-size: 22px;
  text-align: center;
  align-self: center;
  margin: 0 65px 10px 65px;
}
#recipe-modal--container p {
  width: 100%;
  padding: 0 75px;
  text-align: left;
  line-height: 2em;
  font-size: 14px;
}
#recipe-modal--container ul {
  width: 100%;
  padding: 0;
}
#recipe-modal--container li {
  width: 100%;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
  text-align: left;
}
#recipe-modal--container li span {
  padding: 0;
  margin: 0;
}
/* #endregion //////////////////////////////*/
.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.suggestions-list li {
  padding: 5px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}